<?xml version="1.0"?> 			<!-- Define what launge we are using and what version-->
<robot name="myfirst"> 			<!-- This makes rist part is to make the robot-->
  <link name= "world"/>
  <!-- This defines a specefic color we can callback later-->
  <material name="brown">
    <color rgba="0.8 0.3 0 3"/>
  </material>

	  <!-- We here dinefine our base link-->
	  <link name="base_link">
	    <visual>
	      <geometry>
		<box size="0.138 0.086 0.095"/> <!--     -->
	      </geometry>
	      <material name="brown"/>
	    </visual>
	  </link>

 	<!-- We here dinefine our base footprint and the joint for it -->
	


	  <joint name="base_link_world" type="fixed">
	   <parent link="world"/>
	   <child link="base_link"/>
	   <origin rpy="0 0 0" xyz="0.0 0 0.061"/>
	  </joint>  

		  <!-- We here dinefine our base link and the joint for it -->
		  <link name="right_base">
		    <visual>
		      <geometry>
			<box size="0.013 0.011 0.009"/>
		      </geometry>
		      <material name="brown"/>
		    </visual>
		  </link>

		  <joint name="base_to_right_base" type="fixed">
		    <parent link="base_link"/>
		    <child link="right_base"/>
		    <origin xyz="-0.045 0.043 -0.041"/>
		  </joint>

			  <!-- The right wheel-->
			  <link name="right_wheel">
			    <visual>
			      <origin rpy="1.57079632679 0  0 " xyz="0 0 0"/>
			      <geometry>
				<cylinder length="0.007" radius="0.02"/>
			      </geometry>
			      <material name="DarkGray"/>
			    </visual>
			  </link>

			  <joint name="right_base_to_right_wheel" type="fixed">
			    <parent link="right_base"/>
			    <child link="right_wheel"/>
			    <origin xyz="0 0.009 0"/>
			
			  </joint>

		  <!-- left base-->
		  <link name="left_base">
		    <visual>
		      <geometry>
			<box size="0.013 0.011 0.009"/>
		      </geometry>
		      <material name="brown"/>
		    </visual>
		  </link>


		  <joint name="base_to_left_base" type="fixed">
		    <parent link="base_link"/>
		    <child link="left_base"/>
		    <origin xyz="-0.045 -0.043 -0.041"/>
		  </joint>

			  <!-- The right wheel-->
			  <link name="left_wheel">
			    <visual>
			      <origin rpy="1.57079632679 0  0 " xyz="0 0 0"/>
			      <geometry>
				<cylinder length="0.007" radius="0.02"/>
			      </geometry>
			      <material name="DarkGray"/>
			    </visual>
			  </link>

			  <joint name="left_base_to_left_wheel" type="fixed">
			    <parent link="left_base"/>
			    <child link="left_wheel"/>
			    <origin xyz="0 -0.009 0"/>
			    
			  </joint>

  		  <!-- Caster wheel -->
		  <link name="caster_holder">
		    <visual>
		      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
		      <geometry>
			<cylinder length="0.01" radius="0.0055"/>
		      </geometry>
		      <material name="brown"/>
		    </visual>
		    <collision>
		      <origin rpy="0 0 0 " xyz="0 0 0"/>
		      <geometry>
			<cylinder length="0.02" radius="0.15"/>
		      </geometry>
		    </collision>
		  </link>
 		  <joint name="base_caster_holder_joint" type="fixed">
		    <parent link="base_link"/>
		    <child link="caster_holder"/>
		    <origin rpy="-1.57079632679 0 0" xyz="0.052 0.0 -0.049"/>
		  </joint>

			  <link name="caster_wheel">
			    <visual>
			      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
			      <geometry>
			  	<sphere radius="0.005"/>
			      </geometry>
			      <material name="Black"/>
			    </visual>
			  </link>
			  <joint name="caster_holder_caster_wheel_joint" type="fixed">
			    <parent link="caster_holder"/>
			    <child link="caster_wheel"/>
			    <origin rpy="-1.57079632679 0 0" xyz="0.0 0.007 0"/>
			  </joint>


</robot>
