<launch>
 
  <arg name="robot" default="$(find myrobot_description)/urdf/tina.urdf"/>

  <arg name="map_file" default="$(find map)/wew/map.yaml"/>
<!--  <node name="map" pkg="map" type="map" args="$(arg map_file)" /> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="world_map" args="0 0 0 0 0 0 1 world map 10"/> -->




</launch>
